text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}
.node.highlight rect {
  fill: #ffaa00;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}
.edgePath.highlight path {
  stroke: #f66;
}
